// Заголовки, общие БЄМ блоки и проче...

.title {
    font-weight: 600;
    font-size: 22px;
    line-height: 1.2;
    color: #000;
}

.footer-title {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.2;
    color: #575757;
    text-transform: uppercase;
}